/*!
 * CSS ORANGE - v. 2.0
 * 2015 - Alex Aragón (aragonc@beeznest.com)
 * Licensed GPL
 * Based on Bootstrap
*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../chamilo/fonts/OpenSans-Light.woff2) format('woff2'), url(../chamilo/fonts/OpenSans-Light.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../chamilo/fonts/OpenSans.woff2) format('woff2'), url(../chamilo/fonts/OpenSans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../chamilo/fonts/OpenSans-Semibold.woff2) format('woff2'), url(../chamilo/fonts/OpenSans-Semibold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../chamilo/fonts/OpenSans-Bold.woff2) format('woff2'), url(../chamilo/fonts/OpenSans-Bold.woff) format('woff');
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.72222;
}

a{
  color: #666666;
}
a:hover{
  color: #FF813A;
}
.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .active a:focus,
.navbar-default .navbar-nav .active > a:hover{
  background: #F15000;
  color: #ffffff;
}
header{
  background: url("images/bg-orange.png") repeat-x center -25px;
}
.navbar-default {
  background: rgba(248,80,50,1);
  background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(217,20,3,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(100%, rgba(217,20,3,1)));
  background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(217,20,3,1) 100%);
  background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(217,20,3,1) 100%);
  background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(217,20,3,1) 100%);
  background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(217,20,3,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#d91403', GradientType=0 );
  border-color: #d91403;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #f8e386;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #f8e386;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #f77d00;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #2a5bb0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #f8e386;
  background-color: #f15000;
}
.navbar-default .navbar-toggle {
  border-color: #f15000;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #f15000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #f8e386;
}
.breadcrumb{
  background: #E5E5E5;
}
.nav li a:hover{
    background: transparent;
}
.footer{
  background: #2a5bb0; /* Old browsers */
  color: #fff;
}
.footer a{
  color: #ffffff;
}
